.menu {
    display: flex;
    gap: 16px;
    border-bottom: 1px solid #000000;
    max-width: 1032px;
    margin: 0 auto;
    padding: 0 16px;
    font-family: 'NanumGothic', sans-serif;
}

.item {
    margin: 16px 0 16px 16px;
    color: black;
    font-weight: normal;
    cursor: pointer;
    transition: color 0.2s;
}

.itemSelected {
    color: black;
    font-weight: bold;
    border-bottom: 2px #000000 solid;
}

.item:hover {
    border-bottom: 1px solid black;
}